body{
    display : flex;
    justify-content: center;
}
.container{
    display : flex; 
    flex-direction: column;
border: 1px solid black;
    padding : 15px;
    margin : 15px;
    width : 900px;
}
.tittle{
    font-size: 30px;
}
p{
    display : flex;
    justify-content: center;
}
.box{
    display : flex;
    flex-direction: row;
border: 1px solid black;
margin : 15px;
}
.image{
    display : flex;
    justify-content: center;
    padding : 25px;
}
.image-box{
    
    width : 150px;
    height : 150px;
    border: 1px solid black;
    padding : 10px;
}
.image-circle{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 130px;
    height : 130px;
    border-radius: 50%;
    border: 1px solid black;
    text-decoration: none;
}
.label{
    text-align: end;
    width : 170px;
    padding : 10px;
}
input{
    border: 1px solid black;
    margin-right : 10px;
    width : 300px;
}
.form{
    padding : 15px;
}
.submit{
    display : flex;
    justify-content: end;
    
}
button{
    margin: 10px 40px 0px 0px;
    width : 140px;
}