.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-nav {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 70px;
  background-color: rgb(38, 54, 78);
}
.two {
  width: 50px;
  background-color: rgb(38, 54, 78);
  display: flex;
  justify-content: center;
  align-items: center;
}
.three {
  width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(38, 54, 78);
}
img {
  border-radius: 50%;
  border: none;
}
.main {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 545px;
  background-color: rgb(221, 231, 229);
}
.two0 {
  width: 400px;
  height: 410px;
  background-color: rgb(46, 46, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 60px;
}
.threee {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: (221, 231, 229);
}
.four {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(46, 46, 44);
  color: rgb(167, 167, 167);
  width: 450px;
  height: 35px;
  padding: 20px;
  margin: 50px 50px 40px 80px;
  border-radius: 10px;
}
.five {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: (221, 231, 229);
}

.fivee {
  width: 150px;
  height: 100px;
  margin: 20px;
  background-color: rgb(46, 46, 44);
  border-radius: 10px;
}
.six {
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 130px;
  margin: 40px 20px 20px 20px;
  background-color: rgb(46, 46, 44);
  border-radius: 10px;
}
